
{% load static %}
<header class="pageHeader" >
				<!-- Menu Trigger -->
				<button class="menu-trigger">
					<span class="lines"></span>
				</button>

				<!-- Logo -->
			    <a class="headerLogo smoothScroll" href="/" >
					<div style="position: relative;">
			    	 	<img  src="{% static 'images/whiteLogo.png' %}" style="margin-left: 20px;"   width="37px;" height="40px;">
						<span class="text" style=" position: absolute; top: 40%; left: 18%; "> echnophiles </span>
					</div>
				</a>
			</header>

		    <!-- Sidebar -->
			<div class="sidebar">

				<nav class="mainMenu">
					<ul class="menu">

						<li>
							<a class="smoothScroll" href="/" title="Home"><i class="step icon-bulleted-list size-24"></i><span class="text">Home</span></a>
						</li>
						<li>
							<a class="smoothScroll" href="/project" title="Services"><i class="step icon-document-heart size-24"></i><span class="text">Đồ Án</span></a>
						</li>
						<li>
							<a class="smoothScroll" href="/contract" title="Testimonial"><i class="step icon-document-blank size-24"></i><span class="text">Hợp Đồng</span></a>
						</li>
						<li>
							<a class="smoothScroll" href="/report" title="Pricing"><i class="step icon-documents size-24"></i><span class="text">Biên Bản Họp</span></a>
						</li>

					</ul>
				</nav>

				<nav class="backToTop">
					<ul class="backToTop-menu">
						<li><a class="smoothScroll" href="" ><i class="step icon-phone size-24"></i><span class="text">Contact</span></a></li>
					</ul>
				</nav>
			</div>

			<!-- Share Menu -->
			<nav class="shareMenu">
				<a href="#" class="share-menu-trigger"><i class="fa fa-share-alt"></i></a>

				<div class="tweet-share">

					<!-- Facebook - ADD HERE -->

					<!-- Twitter - ADD HERE -->
					<a href="https://twitter.com/share" class="twitter-share-button" data-via="TaphaNgum">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
			</nav>